Source: kismon
Section: net
Priority: extra
Maintainer: Patrick Salecker <mail@salecker.org>
Homepage: https://www.salecker.org/software/kismon.html
Vcs-Git: https://github.com/Kismon/kismon.git
Vcs-Browser: https://github.com/Kismon/kismon
Build-Depends: debhelper (>= 10), dh-python, python3, python3-setuptools
X-Python3-Version: >= 3.5
Standards-Version: 4.3.0

Package: kismon
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-gi, gir1.2-gtk-3.0, gir1.2-gdkpixbuf-2.0, python3-cairo, python3-simplejson, gir1.2-osmgpsmap-1.0 (>= 1.0.2)
Description: GUI client for kismet (wireless scanner/sniffer/monitor)
 Kismon is GUI client for kismet (wireless scanner/sniffer/monitor) with
 several features:
  * a live map of the networks
  * file import: netxml (kismet), csv (old kismet version), json (kismon)
  * file export: kmz (Google Earth) and all import formats
  * signal graph for each network
  * it can connect to multiple kismet servers simultaneously
