[Desktop Entry]
Version=1.0
Name=Kismon
Comment=PyGTK Kismet Client
Keywords=kismet;wireless;wifi;
Exec=kismon
Icon=network-wireless
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;
